APScheduler==3.11.2
dnspython==2.8.0
fastapi==0.133.0
firebase_admin==7.1.0
prometheus-client==0.22.1
pydantic==2.12.5
pymongo==4.16.0
python-dotenv==1.2.2
uvicorn==0.41.0
wrapt==2.1.1

# NLP & AI Processing
spacy==3.7.2

pytest==9.0.3